*.o
*.lo
*.la
*.gcda
*.gcno
aclocal.m4
autom4te.cache
build
compile
config.guess
config.h
config.h.in
config.h.in~
config.log
config.status
config.sub
configure
depcomp
.deps
install-sh
.libs
libtool
.svn
~*
docs
*.~sql
*.settings
target
*.classpath
*.project
*.myeclipse
*.idea
*.iml
*.~*
/doc
